@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Playfair+Display:ital,wght@0,400;1,900&family=Young+Serif&display=swap');
html {
	overflow: hidden;
	height: 100%;
	-webkit-animation: text-focus-in 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	/* This ensures the canvas is behind other elements */
}
.content {
	font-size: 1.1em;
	flex-direction: row-reverse;
	font-style: italic;
	margin: 0;
	width: 30%;
	/* Adjust as needed */
}
.posh {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight:lighter;
}
body, html {
	margin: 0;
	padding: 0;
}
/* Styling the header */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  background-color: transparent;
  backdrop-filter: blur(25px); /* Initial blur */
  transition: backdrop-filter 0.5s ease; /* Adjust timing and easing as needed */
  z-index: 3;
	text-align: center;
}
/* Styling the hero section */
.hero-section {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	user-select: none;
	height: 100vh;
	/* Adjust the height as needed */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* Center content vertically */
	align-items: center;
	position: relative;
	z-index: 1;
	/* Ensure it's on top of other content */
}
#text {
	font-size: 5em;
	margin-bottom: 20px;
}
.aboutsection {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100vh;
	margin-left: 100px;
	/* Space from the left side */
	padding-right: 20px;
	justify-content: center;
	max-width: calc(100% - 100px);
	/* Adjust the max-width */
	text-align: left;
}
.homeimage {
	width: 50%; /* Adjust width as needed */
}
.homeimage img {
	max-width: 100%;
	height: auto;
}
.testsection .placeholder h3 {
	color: white;
}
.title {
	margin-top: 100px;
	margin-bottom: 10px;
	/* Adjust the space between title and content */
}
.content {
	font-size: 1.1em;
	flex-direction: row-reverse;
	font-style: italic;
	margin: 0;
	width: 30%;
}
.aboutsection .title {
	text-align: left;
	/* Ensure the title within about section stays left-aligned */
}
/* Centering the title and making it larger */
.getstarted {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* Adjust to your preference */
}

.getstartedtitle h3 {
	font-size: 2.5em; /* Adjust the font size as needed */
	text-align: center;
}

/* Styling the action buttons */
.action-button {
	display: inline-block;
	padding: 12px 24px; /* Adjust padding to increase button size */
	font-size: 1.2em; /* Adjust button text size */
	text-decoration: none;
	border-radius: 5px;
	margin: 10px;
	background-color: #000000; /* Button background color */
	color: #ffffff; /* Button text color */
}

.action-button:hover {
	background-color: #000000; /* Button background color on hover */
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	height: 100%;
	overflow: auto;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}
.inline {
	display: inline-flex;
}
.center {
	text-align: center;
}
.text {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: black;
	font-weight: 900;
}
nav {
background-color: transparent;
backdrop-filter: blur(5px); /* Creates a blurred effect for the background */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
animation: text-focus-in 1s ease forwards; /* Run the animation */
}
.logo {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-style: italic;
	font-size: 50px;
	/* Increase the font size */
	text-align: center;
	color: black;
	line-height: 1;
}
.logo:visited {
	color: black;
}
/* ----------------------------------------------* Generated by Animista on 2023-12-27 13:9:14* Licensed under FreeBSD License.* See http://animista.net/license for more info.* w: http://animista.net, t: @cssanimista* ---------------------------------------------- */
/*** ----------------------------------------* animation text-focus-in* ----------------------------------------*/
@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 30px;
	text-align: center;
	padding: 5fr;
}
a {
	text-decoration: none;
}
li {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}
.logo a:visited {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	/* Increase the font size */
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: black;
}
.nav-links {
	list-style-type: none;
	margin: 0;
	display: flex;
	align-items: center;
	/* Aligns the list items vertically */
}
.nav-links li {
	display: inline;
	margin-right: 20px;
}
.nav-links a {
	color: black;
	text-decoration: none;
	font-size: 16px;
	display: inline-block;
	/* Allows vertical alignment */
	vertical-align: middle;
	/* Vertically centers the text */
}
.center-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	align-items: center;
}
form {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px;
}
label {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	display: block;
	margin: 10px 0 5px;
	color: #555;
}
input {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.action-button {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	padding: 10px 20px;
	background-color: #1D1C1C;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 20px;
animation: slideUp 1s ease forwards; /* Run the animation */
	/* -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	*/
	/* -webkit-animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	*/
}
/* ----------------------------------------------* Generated by Animista on 2023-12-27 12:34:45* Licensed under FreeBSD License.* See http://animista.net/license for more info.* w: http://animista.net, t: @cssanimista* ---------------------------------------------- */
/*** ----------------------------------------* animation scale-up-center* ----------------------------------------*/
@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.delete-button {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	padding: 5px 10px;
	background-color: #1D1C1C;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 12px;
	margin-top: 0px;
}
.cleanliness-button {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	padding: 5px 10px;
	background-color: #1D1C1C;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 12px;
	margin-top: 0px;
}
.file_submit {
	display: inline-block;
	padding: 10px 20px;
	background-color: #1D1C1C;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 20px;
	transition: background-color 0.3s;
}
.file_submit:hover {
	background-color: #800080;
	/* Purple color on hover */
}
.radio-container {
	display: flex;
	align-items: center;
}
.radio-label {
	display: flex;
	align-items: center;
}
.is_clean_yes {
	padding: 0 0;
}
.is_clean_no {
	padding: 0 0;
}
.grid {
	display: grid;
	grid-template-columns: repeat(5 , 2fr);
	/* Adjust columns */
	gap: 15px;
	/* Adjust gap between items */
}
.grid-item {
	border: 1px solid #1D1C1C;
	/* Borders or any additional styling */
	border-radius: 3px;
	background-color: #f5f5f5;
	margin: 50px 0px;
}
.grid-image {
	width: 90%;
	/* Ensure image fills its container */
	height: 75%;
	/* Ensure image fills its container */
	object-fit: cover;
	/* Crop the image to fit */
	opacity: 1;
	/* Adjust opacity (0 to 1) */
	border: 1px solid #1D1C1C;
	border-radius: 3px;
}
.text-over-image {
	/* position: absolute;
	*/
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%);
	*/
	color: #1D1C1C;
	font-size: 20px;
	/* Adjust font size */
	font-weight: bold;
	/* Adjust font weight */
	text-align: center;
	z-index: 1;
	/* Ensure text appears above the image */
}
.clearfix::after {
	display: table;
	clear: both;
}
.profile-picture {
	height: 30px;
	/* Adjust the height of the profile picture */
	width: 30px;
	/* Adjust the width of the profile picture */
	border-radius: 5%;
	/* Make the image circular */
	margin-right: 10px;
	/* Add some space to the right of the picture */
}
/* Optional styling for inputs and paragraphs */
input[type="text"] {
	width: 200px;
	/* Set input width */
	padding: 5px;
	/* Adjust padding */
}
p {
	margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.App {
	text-align: center;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.Homepage {
	display: flex;
	flex-direction: column;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.landing-page-section {
	background-color: #f2f2f2;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: center;
	padding-top: 5%;
}
.landing-page-container {
	max-width: 1080px;
	width:100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hero-subtitle {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}
.rounded-box {
	background-color: #1D1C1C;
	border-radius: 8px;
	padding: 10px 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 20px 0;
	color: white;
}
.landing-page-container h1 {
	margin: auto;
	color: white;
	font-size: 5rem;
	padding-bottom: 20px;
	background: #1D1C1C;
	-webkit-background-clip: text;
background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: normal;
}
.landing-page-container h1:hover{
	color: #1D1C1C;
	cursor: pointer;
	-webkit-text-fill-color: #1D1C1C;
}
.non-bold-title {
	font-weight: normal;
}
.App-link {
	color: #61dafb;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.description-paragraph {
	width: 50%;
	text-align: justify;
	line-height: 1.5;
	overflow: auto;
}
.text-section {
	color: black;
}
.action-button {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	padding: 10px 20px;
	background-color: #1D1C1C;
	color: #fff;
	border-radius: 3px;
	font-size: 16px;
	margin-top: 20px;
}
	/* ----------------------------------------------* Generated by Animista on 2023-12-27 22:14:25* Licensed under FreeBSD License.* See http://animista.net/license for more info.* w: http://animista.net, t: @cssanimista* ---------------------------------------------- */
	@-webkit-keyframes scale-up-center{
		0%{
			-webkit-transform:scale(.5);
			transform:scale(.5)
}
		100%{
			-webkit-transform:scale(1);
			transform:scale(1)
}
	}
	@keyframes scale-up-center{
		0%{
			-webkit-transform:scale(.5);
			transform:scale(.5)
}
		100%{
			-webkit-transform:scale(1);
			transform:scale(1)
}
	}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {
		opacity: .4
}
	to {
		opacity: 1
}
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}

.hero-section h2 {
/* Apply initial styles */
font-family: 'Montserrat', sans-serif;
opacity: 0;
transform: translateY(100%);
animation: slideUp 1s ease forwards; /* Run the animation */
}
.aboutsection {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animation when the section comes into view */
.aboutsection.show {
	opacity: 1;
	transform: translateY(0);
}
/* Initially hide the header */
.header-hidden {
display: none;
}

/* ----------------------------------------------
* Generated by Animista on 2023-12-30 12:3:37
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-in-top
* ----------------------------------------
*/
@-webkit-keyframes slide-in-top {
0% {
	-webkit-transform: translateY(-1000px);
			transform: translateY(-1000px);
	opacity: 0;
}
100% {
	-webkit-transform: translateY(0);
			transform: translateY(0);
	opacity: 1;
}
}
@keyframes slide-in-top {
0% {
	-webkit-transform: translateY(-1000px);
			transform: translateY(-1000px);
	opacity: 0;
}
100% {
	-webkit-transform: translateY(0);
			transform: translateY(0);
	opacity: 1;
}
}


@keyframes slideUp {
0% { transform: translateY(100%); opacity: 0; }
100% { transform: translateY(0); opacity: 1; }
}