body {
    font-family: 'Young Serif', serif;
    font-style: normal;

    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f2f2f2; /* Set the background color to match the page */
    width: 100%;
}

.inline {
    display: inline-flex;
}

.text {
    text-align: center;
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: #e2e2e2 2px solid;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;

    font-size: 40px; /* Increase the font size */
    text-align: center;
    color: black;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;

    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

.logo a:visited {
    font-family: 'Playfair Display', serif;
    font-size: 36px; /* Increase the font size */
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;
}

.nav-links {
    list-style-type: none;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.center-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    font-family: 'Playfair Display', serif;
    font-style: normal;

    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    font-family: 'Playfair Display', serif;
    font-style: normal;

    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.action-button {
    font-family: 'Playfair Display', serif;
    font-style: normal;

    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #800080; /* Purple color on hover */
}

.file_submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.file_submit:hover {
    background-color: #800080; /* Purple color on hover */
}

.radio-container {
    display: flex;
    align-items: center;
}
