body {
    background-color: #f2f2f2;
    height: 100vh;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: inline-block;
}

/* label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
} */

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

nav {
    width: 100%;
    min-width: 300px;
    height: 75px;
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
    position: fixed;
    background-color: #f2f2f2;
}
  
nav > ul {
    display: inline-flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 25px;
    font-family: JetBrainsRegular, 'Courier New', Courier, monospace;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: bold;
}

nav:visited {
    color: #fff;
    font-style: normal;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.center-container {
    max-width: 800px;
    margin: 0 auto;
}

.action-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #555;
}