<!doctype html>
<html>
    <head>
        <title>Poshify</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        <script src="app.py"></script>
        
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Young+Serif&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <nav>
                <div class="logo" href="home"><a href="home">Poshify</a></div>
                <ul class="nav-links">
                    {% if user_id %}
                    <li><a class="dashboard" href="dashboard">Dashboard</a></li>
                    {% else %}
                    <li><a class="login" href="login">Login</a></li>
                    <li><a class="signup" href="signup">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class ="sec" id="sec">
            <h2 class="center title">Add Clothing Manually</h2>
            <form action = "/add_clothing_manual" method = "POST" id="clothesForm" enctype="multipart/form-data">
                
                <center>
                    {% if result %}
                    <a href="#sec"></a>
                    <h3 style="color: black">Your Result:</h3>
                    <p>
                        {{result}}
                    </p>
                    {% endif %}
                </center>
                <label for="clothing_name">Clothing Name: </label>
                <input name="clothing_name" id="clothing_name" type="text" required>
                <label for="clothing_type">Clothing Type: </label>
                <select name="clothes_type" id="clothes_type" required>
                    <option value="Jacket">Jacket</option>
                    <option value="T-Shirt">T-Shirt</option>
                    <option value="Sweatshirt">Sweatshirt</option>
                    <option value="Pants">Pants</option>
                    <option value="Shorts">Shorts</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Hat">Hat</option>
                </select>
                <label for="hue">Hue: </label>
                <input name="hue" id="hue" type="text">
                <label for="saturation">Saturation: </label>
                <input name="saturation" id="saturation" type="text">
                <label for="value">Value: </label>
                <input name="value" id="value" type="text">
                <label for="is_clean">Is it clean?: </label>
                <label class="radio-label" for="is_clean_yes">
                    Yes <input type="radio" name="is_clean" class="is_clean_yes" id="is_clean_yes" value="y">
                </label>
                <label class="radio-label" for="is_clean_no">
                    No <input type="radio" name="is_clean" class="is_clean_no" id="is_clean_no" value="n">
                </label>
                <label for="image">Image:</label>
                <input type="file" name="image" id="image" accept=".jpg, .jpeg">
                <input class="action-button" type="submit" value="Submit">      
            </form>
        </div>
    </body>
</html>
