<!doctype html>
<html>
    <body>
        {% include 'header.html' %}
        <div class ="content">
        <div class ="sec" id="sec">
            <h2 class="center title">Add Clothing Manually</h2>
            <form action = "/add_clothing_manual" method = "POST" id="clothesForm" enctype="multipart/form-data">
                
                <center>
                    <p id="jsMessageBox"></p>
                    {% if result %}
                    <!-- <a href="#sec"></a> -->
                    <p>
                        {{result}}
                    </p>
                    {% endif %}
                </center>
                <label for="clothing_name">Clothing Name: </label>
                <input name="clothing_name" id="clothing_name" type="text" required>
                <label for="clothing_type">Clothing Type: </label>
                <select name="clothes_type" id="clothes_type" required>
                    <option value="Jacket">Jacket</option>
                    <option value="T-Shirt">T-Shirt</option>
                    <option value="Sweatshirt">Sweatshirt</option>
                    <option value="Pants">Pants</option>
                    <option value="Shorts">Shorts</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Hat">Hat</option>
                </select>
                <!-- <label for="is_clean">Is it clean?: </label> -->
                <label class="radio-label" for="is_clean_yes">
                    Clean <input type="radio" name="is_clean" class="is_clean_yes" id="is_clean_yes" value="y" default="True" checked>
                </label>
                <label class="radio-label" for="is_clean_no">
                    Dirty <input type="radio" name="is_clean" class="is_clean_no" id="is_clean_no" value="n">
                </label>
                <label for="image">Image:</label>
                <center>
                    <input type="file" placeholder="Clothing Image" name="image" id="image" accept=".jpg, .jpeg" onchange="checkFileSize(event)">
                </center>
                <input class="action-button" type="submit" value="Submit">      
            </form>
        </div>
       </div>
       {% include 'footer.html' %}
    </body>
    <script>
        function checkFileSize(event) {
            const file = event.target.files[0];
            const maxFileSize = 100 * 1024; // 100 KB
            const messageBox = document.getElementById("jsMessageBox");
            console.log('working');
            if (file && file.size > maxFileSize) {
                event.target.value = '';
                messageBox.innerHTML = "Error:\nFile exceeds max file size (100KB)";
            } else {
                messageBox.innerHTML = "";
            }
        }
    </script>
</html>