<!doctype html>
<html>
    <head>
        <title>Poshify</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        <script src="app.py"></script>
        
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Young+Serif&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <nav>
                <div class="logo" href="home"><a href="home">Poshify</a></div>
                <ul class="nav-links">
                    {% if user_id %}
                    <li><a class="dashboard" href="dashboard">Dashboard</a></li>
                    <li><a class="settings" href="settings">Settings</a></li>
                    <img class="profile-picture" src="{{ session['userinfo']['picture'] }}">
                    {% else %}
                    <li><a class="login" href="login">Login</a></li>
                    <li><a class="signup" href="signup">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <h2 class="center title">Add Clothing using Camera</h2>
        <div class ="sec" id="sec">
            <form action = "/add_clothing_camera" method = "POST" id="clothesForm">
                <center>
                    {% if result %}
                    <a href="#sec"></a>
                    <h3 style="color: black">Your Result:</h3>
                    <p>
                        {{result}}
                    </p>
                    {% endif %}
                </center>
                <label for="clothing_name">Clothing Name: </label>
                <input name="clothing_name" id="clothing_name" type="text" required>
                <label for="clothing_type">Clothing Type: </label>
                <select name="clothes_type" id="clothes_type" required>
                    <option value="Jacket">Jacket</option>
                    <option value="T-Shirt">T-Shirt</option>
                    <option value="Sweatshirt">Sweatshirt</option>
                    <option value="Pants">Pants</option>
                    <option value="Shorts">Shorts</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Hat">Hat</option>
                </select>
                <label for="color">Color: </label>
                <input name="color" id="color" type="text" required>
                <label for="hue">Hue: </label>
                <input name="hue" id="hue" type="text" required>
                <label for="saturation">Saturation: </label>
                <input name="saturation" id="saturation" type="text" required>
                <label for="value">Value: </label>
                <input name="value" id="value" type="text" required>
                <label for="is_clean">Is it clean?: </label>
                <label class="radio-label" for="is_clean_yes">
                    Yes <input type="radio" name="is_clean" class="is_clean_yes" id="is_clean_yes" value="y">
                </label>
                <label class="radio-label" for="is_clean_no">
                    No <input type="radio" name="is_clean" class="is_clean_no" id="is_clean_no" value="n">
                </label>


                <!-- <video id="videoElement" width="640" height="480" autoplay></video><br> <input type="hidden" name="imageData" id="imageDataInput">
                <button onclick="captureAndSubmit(event)">Capture Photo</button>
                <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
                <input type="submit" class="file_submit" style="display: none;"> -->
                <!-- <script>
                    async function captureAndSubmit(event) {
                        event.preventDefault();
        
                        const video = document.getElementById('videoElement');
                        const canvas = document.getElementById('canvas');
                        const context = canvas.getContext('2d');
        
                        const constraints = { video: true };
        
                        try {
                            const stream = await navigator.mediaDevices.getUserMedia(constraints);
                            video.srcObject = stream;
                        } catch (err) {
                            console.error('Error accessing the camera: ', err);
                        }
        
                        video.onloadedmetadata = () => {
                            video.play();
                        };
        
                        setTimeout(() => {
                            context.drawImage(video, 0, 0, canvas.width, canvas.height);
                            const imageData = canvas.toDataURL('image/jpeg');
        
                            document.getElementById('imageDataInput').value = imageData;
        
                            document.getElementById('clothesForm').submit();
                        }, 5000); // 5000 milliseconds = 5 seconds
                    }
                </script> -->
                
                
                
            </form>
        </div>
    </body>
</html>
