<!doctype html>
<html>
    <body>
        {% include 'header.html' %}
        <div class ="content">
        <h2 class="center title">Add Clothing using Camera</h2>
        <div class ="sec" id="sec">
            <form action = "/add_clothing_camera" method = "POST" id="clothesForm">
                <center>
                    {% if result %}
                    <a href="#sec"></a>
                    <h3 style="color: black">Your Result:</h3>
                    <p>
                        {{result}}
                    </p>
                    {% endif %}
                </center>
                <label for="clothing_name">Clothing Name: </label>
                <input name="clothing_name" id="clothing_name" type="text" required>
                <label for="clothing_type">Clothing Type: </label>
                <select name="clothes_type" id="clothes_type" required>
                    <option value="Jacket">Jacket</option>
                    <option value="T-Shirt">T-Shirt</option>
                    <option value="Sweatshirt">Sweatshirt</option>
                    <option value="Pants">Pants</option>
                    <option value="Shorts">Shorts</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Hat">Hat</option>
                </select>
                <label for="is_clean">Is it clean?: </label>
                <label class="radio-label" for="is_clean_yes">
                    Yes <input type="radio" name="is_clean" class="is_clean_yes" id="is_clean_yes" value="y">
                </label>
                <label class="radio-label" for="is_clean_no">
                    No <input type="radio" name="is_clean" class="is_clean_no" id="is_clean_no" value="n">
                </label>
                <video id="videoElement" width="640" height="480" autoplay></video><br>
                <input type="hidden" name="imageData" id="imageDataInput">
                <button onclick="captureAndSubmit(event)">Capture Photo</button>
                <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
                <script>
                    async function captureAndSubmit(event) {
                        event.preventDefault();
                        console.log("WEBCAM RUNNING")
                
                        const video = document.getElementById('videoElement');
                        const canvas = document.getElementById('canvas');
                        const context = canvas.getContext('2d');
                
                        const constraints = { video: true };
                
                        try {
                            const stream = await navigator.mediaDevices.getUserMedia(constraints);
                            video.srcObject = stream;
                        } catch (err) {
                            console.error('Error accessing the camera: ', err);
                        }
                
                        video.onloadedmetadata = () => {
                            video.play();
                        };
                
                        setTimeout(() => {
                            context.drawImage(video, 0, 0, canvas.width, canvas.height);
                            let dataURL = canvas.toDataURL('image/jpeg');
                            const imageData = dataURL.split(',')[1]
                            console.log(imageData)
                
                            document.getElementById('imageDataInput').value = imageData;
                            console.log("IMAGE CAPTURED AFTER 5 SECONDS");
                
                            document.getElementById('clothesForm').submit();
                        }, 500);
                    }
                </script>
                
                
                
                
            </form>
        </div>
       </div>
        {% include 'footer.html' %}
    </body>
</html>
