<!DOCTYPE html>
<html lang="en">
<body>
    {% include 'header.html' %}
    <div class ="content">
    <main>
    <h1 class="center-container title">Closet</h1>
    <center>
        <a href="add_clothing_camera" class="action-button">Add Clothing: Camera</a>
        <a href="add_clothing_manual" class="action-button">Add Clothing: Manual</a>
    </center>
    </br>
    <div class="dropdown">
        <button class="action-button" onclick="toggleDropdown()">Article Filter</button>
        <div id="article-filter" class="dropdown-content">
            <label>Jacket<input type="checkbox" class="filterCheckbox" value="Jacket"></label>
            <label>T-Shirt<input type="checkbox" class="filterCheckbox" value="T-Shirt"></label>
            <label>Sweatshirt<input type="checkbox" class="filterCheckbox" value="Sweatshirt"></label>
            <label>Pants<input type="checkbox" class="filterCheckbox" value="Pants"></label>
            <label>Shorts<input type="checkbox" class="filterCheckbox" value="Shorts"></label>
            <label>Shoes<input type="checkbox" class="filterCheckbox" value="Shoes"></label>
            <label>Hat<input type="checkbox" class="filterCheckbox" value="Hat"></label>
            <button class="action-button show" onclick="applyFilters()">Apply</button>
            <button class="action-button" onclick="clearFilters()">Clear Filters</button>
            <div class="custom-alert" id="customAlert">
                <span class="closebtn" onclick="closeCustomAlert()">&times;</span>
                <strong>Alert!</strong> No clothing of the selected type found.
            </div>

        </div>
    </div>
    <div class="grid">
        {% for clothes_id, clothing_type, clothing_name, is_clean, hue, saturation, value, file_path in clothes %}
            <div class="grid-item center text show" data-clothes-id="{{ clothes_id }}" data-clothing-type="{{ clothing_type }}">
                <p class="text-over-image" onclick="makeEditable(this)">{{ clothing_name }}</p>
                {% if config.get("DEFAULT", "DEVTYPE") == "local" %}
                    <img class="grid-image" src="{{ url_for('static', filename=file_path) }}" alt="{{ clothing }} Image" draggable="false">
                {% else %}
                    <img class="grid-image" src="{{ url_for(file_path) }}" alt="Clothing Image" draggable="false">
                {% endif %}
                <button class="delete-button" onclick="deleteClothing('{{ clothes_id }}')">Delete Clothing</button>
                <button class="cleanliness-button" onclick="toggleCleanliness('{{ clothes_id }}', this)">{{ 'Clean' if is_clean else 'Dirty' }}</button>
                <p>{{ hue, saturation, value }}</p>
            </div>
        {% endfor %}
    
        <script>
            function toggleCleanliness(clothesId, button) {
                var currentStatus = button.innerText.trim();
                var newStatus = currentStatus === 'Clean' ? 'Dirty' : 'Clean';
                
                button.innerText = newStatus;

                fetch('/update_cleanliness', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        clothesId: clothesId,
                        cleanlinessStatus: newStatus
                    })
                })
                .then(response => {
                    if (response.ok) {
                    } else {
                        throw new Error('Failed to update cleanliness status');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    button.innerText = currentStatus;
                });
            }

            function makeEditable(element) {
                element.contentEditable = true;
                element.focus();
    
                const clothingName = element.innerText.trim(); // Extract clothing name from the clicked element
    
                element.addEventListener('focusout', function () {
                    const updatedText = element.innerText.trim();
                    console.log("info: " + clothingName + " " + updatedText);
                    response = updateBackend(updatedText, clothingName, element);
                    element.innerText = response.identifier;

                    element.contentEditable = false;
                });
            }
    
            function updateBackend(updatedText, identifier, element) {
                fetch('/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ updatedText, identifier }),
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                    })
                    .then(data => {
                        element.innerText = data.identifier;
                        console.log('Updated successfully:', data);
                    })
                    .catch(error => {
                        console.error('Error updating:', error);
                    });
            }
            
            function deleteClothing(clothes_id) {
                fetch('/delete', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ clothes_id }),
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Clothing deleted successfully');
                        const gridItems = document.querySelectorAll('.grid-item');
                        gridItems.forEach(gridItem => {
                            const dataClothesId = gridItem.getAttribute('data-clothes-id');
                            if (dataClothesId === clothes_id) {
                                gridItem.remove();
                            }
                        });
                    } else {
                        throw new Error('Network response was not ok.');
                    }
                })
                .catch(error => {
                    console.error('Error deleting clothing:', error);
                });
            }

            function toggleDropdown() {
                var dropdownContent = document.querySelector('.dropdown-content');
                if (dropdownContent.style.display === 'block') {
                    dropdownContent.style.display = 'none';
                } else {
                    dropdownContent.style.display = 'block';
                }
            }




            function applyFilters() {
                var checkboxes = document.querySelectorAll('.filterCheckbox');
                var selectedFilters = Array.from(checkboxes)
                    .filter(checkbox => checkbox.checked)
                    .map(checkbox => checkbox.value);

                const gridItems = document.querySelectorAll('.grid-item');

                if (selectedFilters.length === 0) {
                    gridItems.forEach(gridItem => {
                        gridItem.style.display = 'block';
                    });
                } else {
                    let noClothingOfType = true;

                    gridItems.forEach(gridItem => {
                        const clothingType = gridItem.getAttribute('data-clothing-type');
                        const followsFilter = selectedFilters.includes(clothingType);

                        if (followsFilter) {
                            gridItem.style.display = 'block';
                            noClothingOfType = false;
                        } else {
                            gridItem.style.display = 'none';
                        }
                    });

                    if (noClothingOfType) {
                        var customAlert = document.getElementById("customAlert");
                        var alertMessage = document.getElementById("alertMessage");

                        customAlert.style.display = "block";
                        alertMessage.innerHTML = 'No clothing of the selected type found.';

                        setTimeout(function () {
                            customAlert.style.display = "none";
                        }, 3000); // 3000 milliseconds = 3 seconds
                    }

                }
            }

            function closeCustomAlert() {
                var customAlert = document.getElementById("customAlert");
                customAlert.style.display = "none";
            }


            function clearFilters() {
                var checkboxes = document.querySelectorAll('.filterCheckbox');
                checkboxes.forEach(checkbox => {
                    checkbox.checked = false; // Uncheck all checkboxes
                });

                const gridItems = document.querySelectorAll('.grid-item');
                gridItems.forEach(gridItem => {
                    gridItem.style.display = 'block'; // Show all clothing items
                });
            }
            


        </script>
    </div>
    </main>
   </div>
   {% include 'footer.html' %}
</body>
</html>
