<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="app.py"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    <title>Poshify</title>
    <script>
        function makeEditable(element) {
            element.contentEditable = true;
            element.focus();
        }
    </script>
</head>
<body>
    <header>
        <nav>
            <div class="logo" href="home"><a href="home">Poshify</a></div>
            <ul class="nav-links">
                {% if session %}
                <li><a class="dashboard" href="dashboard">Dashboard</a></li>
                <li><a class="closet" href="closet">Closet</a></li>
                <li><a class="outfits" href="outfits">Outfits</a></li>
                <a href="settings">
                    <img class="profile-picture" src="{{ session['userinfo']['picture'] }}" alt="Profile Picture">
                </a>
                {% else %}
                <li><a class="login" href="login">Login</a></li>
                <li><a class="signup" href="signup">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
    <h1 class="center-container title">Closet</h1>
    <center>
        <a href="add_clothing_camera" class="action-button">Add Clothing: Camera</a>
        <a href="add_clothing_manual" class="action-button">Add Clothing: Manual</a>
    </center>
    </br>
    <div class="grid">
        {% for clothing_name, file_path, clothes_id, is_clean in clothes %}
            <div class="grid-item center text" data-clothes-id="{{ clothes_id }}">
                <p class="text-over-image" onclick="makeEditable(this)">{{ clothing_name }}</p>
                <img class="grid-image" src="{{ url_for('static', filename=file_path) }}" alt="{{ clothing_name }} Image">
                <button class="delete-button" onclick="deleteClothing('{{ clothes_id }}')">Delete Clothing</button>
                <button class="cleanliness-button" onclick="toggleCleanliness('{{ clothes_id }}', this)">{{ 'Clean' if is_clean else 'Dirty' }}</button>
            </div>
        {% endfor %}
    
        <script>
            function toggleCleanliness(clothesId, button) {
                var currentStatus = button.innerText.trim();
                var newStatus = currentStatus === 'Clean' ? 'Dirty' : 'Clean';
                
                button.innerText = newStatus;

                fetch('/update_cleanliness', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        clothesId: clothesId,
                        cleanlinessStatus: newStatus
                    })
                })
                .then(response => {
                    if (response.ok) {
                    } else {
                        throw new Error('Failed to update cleanliness status');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    button.innerText = currentStatus;
                });
            }

            function makeEditable(element) {
                element.contentEditable = true;
                element.focus();
    
                const clothingName = element.innerText.trim(); // Extract clothing name from the clicked element
    
                element.addEventListener('focusout', function () {
                    const updatedText = element.innerText.trim();
    
                    updateBackend(updatedText, clothingName);
                    element.contentEditable = false;
                });
            }
    
            function updateBackend(updatedText, identifier) {
                fetch('/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ updatedText, identifier }),
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok.');
                    })
                    .then(data => {
                        console.log('Updated successfully:', data);
                    })
                    .catch(error => {
                        console.error('Error updating:', error);
                    });
            }
            
            function deleteClothing(clothes_id) {
                fetch('/delete', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ clothes_id }),
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Clothing deleted successfully');
                        const gridItems = document.querySelectorAll('.grid-item');
                        gridItems.forEach(gridItem => {
                            const dataClothesId = gridItem.getAttribute('data-clothes-id');
                            if (dataClothesId === clothes_id) {
                                gridItem.remove();
                            }
                        });
                    } else {
                        throw new Error('Network response was not ok.');
                    }
                })
                .catch(error => {
                    console.error('Error deleting clothing:', error);
                });
            }
        </script>
    </div>
    
    </main>
</body>
</html>
