<!DOCTYPE html>
<html lang="en">
<body>
    {% include 'header.html' %}

    <div class ="content">
    <main>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <center>
            {% if user_id %}
            <a href="#sec"></a>
            <h3 class="text">user_id</h3>
            <p>
                {{user_id}}
            </p>
            {% endif %}
        </center>
        <div class="dashboard-container">

            <div class="right-section">
            {% if user_id %}
            <img class="profile-picture" src="{{ session['userinfo']['picture'] }}" alt="Profile Picture">
            <a href="add_clothing_camera" class="action-button">Add Clothing: Camera</a>
            <a href="add_clothing_manual" class="action-button">Add Clothing: Manual</a>
            <a href="closet" class="action-button">My Closet</a>
            <a href="outfits" class="action-button">My Outfits</a>

            {% endif %}
            </div>
       </div>
    </main>
</div>
    {% include 'footer.html' %}
</body>
</html>
