<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="path-to-your-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="app.py"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    <title>Poshify</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo" href="home"><a href="home">Poshify</a></div>
            <ul class="nav-links">
                {% if session %}
                <li><a class="dashboard" href="dashboard">Dashboard</a></li>
                <li><a class="closet" href="closet">Closet</a></li>
                <li><a class="outfits" href="outfits">Outfits</a></li>
                <img class="profile-picture" href="settings" src="{{ session['userinfo']['picture'] }}">
                {% else %}
                <li><a class="login" href="login">Login</a></li>
                <li><a class="signup" href="signup">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <center>
            {% if user_id %}
            <a href="#sec"></a>
            <h3 class="text">user_id</h3>
            <p>
                {{user_id}}
            </p>
            {% endif %}
        </center>
        <div class="center-container">
            {% if user_id %}
            <a href="add_clothing_camera" class="action-button">Add Clothing: Camera</a>
            <a href="add_clothing_manual" class="action-button">Add Clothing: Manual</a>
            <a href="closet" class="action-button">My Closet</a>
            <a href="outfits" class="action-button">My Outfits</a>
            {% endif %}
        </div>
    </main>
</body>
</html>
