<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        <script src="app.py"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
        <title>Poshify</title>
    </head>
    <body>
        <footer class = "footer">   

        <div class="connect-container">
        <img src="static/Poshify-logos/poshifyLogo333.png" alt="Logo" class="footer-logo">
        <div class="wording">
            <p>By Anirud Lappathi, Vivek Narayana, Sia Sama © 2023. Connect with us: </p>
        </div>
    
        <div class="connect-with-us">
            <a href="https://www.linkedin.com/in/yourprofile" class="social-logo" target="_blank">
                <img src="path/to/linkedin-logo.png" alt="LinkedIn">
            </a>  

            <a href="https://www.linkedin.com/in/yourprofile" class="social-logo" target="_blank">
                <img src="path/to/linkedin-logo.png" alt="LinkedIn">
            </a>  

             <a href="https://www.linkedin.com/in/yourprofile" class="social-logo" target="_blank">
                <img src="path/to/linkedin-logo.png" alt="LinkedIn">
            </a>            
        </div>  
        </div>  

        </footer>
    </body>
</html>
 -->
