<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="styles.css">  -->
    <link rel="stylesheet" type="text/css" href="/static/home.css">.
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="app.py"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="{{ url_for('static', filename='slideshow.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    <title>Poshify</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo" href="home"><a href="home">Poshify</a></div>
            <ul class="nav-links">
                {% if session %}
                <li><a class="dashboard" href="dashboard">Dashboard</a></li>
                <li><a class="Closet" href="closet">Closet</a></li>
                <li><a class="Calender" href="outfits">Outfits</a></li>
                <a href="settings">
                    <img class="profile-picture" src="{{ session['userinfo']['picture'] }}" alt="Profile Picture">
                </a>
                {% else %}
                <li><a class="login" href="login">Login</a></li>
                <li><a class="signup" href="signup">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav> 
    </header>
    <main>      

        <!-- <h3>Welcome to Poshify</h3> -->
        <div class="Homepage">
            <section class="landing-page-section">
              <div class="landing-page-container">
          
                <!-- <img class="hero-subtitle rounded-box" src="static/Poshify-logos/poshifyLogo333.png"> -->
                <h1 class="non-bold-title">Find Your Fits Fast</h1>
          
                <div class="search-container">
                  <input type="text" placeholder="Search for anything" class="search-input"/>
                  <!-- Removed Link element and dynamic parts -->
                  <button class="search-button">
                    <!-- Assuming searchIcon is an image URL, replace with the actual image URL -->
                    <!-- <img src="path-to-search-icon.png" alt="Search" class="search-icon" /> -->
                  </button>
                </div>       
                <p class="landing-page-intro"> Welcome to Poshify, the leading platform for outfit creation.</p>
              </div>
            </section>
          
            <section class="trending-outfits-section">
              <div class="trending-outfits">
                <div class="overlap">
          
                  <div class="div-framer">
                    <div class="overlap-group">
                      <!-- Replace 'src/assets/images/trending-internship-section-icon.png' with actual path -->
                      <img class="SVG" alt="Svg" src="src/assets/images/trending-internship-section-icon.png" />
                      <div class="p-framer-text">
                        <div class="text-wrapper">Outfits Generated</div>
                      </div>
                      <div class="pseudo" />
                    </div>
                  </div>
          
                  <div class="div-framer-tro">
                    <p class="heading-we-connect">
                      Discover recent outfits generated.
                    </p>
                  </div>
                  <div class="div" />
          
                  <div class="scaled-wrapper">
                    <div class="SVG-2">
                      <div class="next-button">
                        <div class="overlap-group-2">
                          <!-- Replace 'next.png' with actual path -->
                          <div class="slideshow-container">
                            <div class="mySlides fade">
                              <img src="static/clothing_images/b31df4fb-84db-4a5a-bbf2-d56041e8e013.jpeg" style="width:100%">
                            </div>
                          
                            <div class="mySlides fade">
                              <img src="img2.jpg" style="width:100%">
                            </div>
                          
                            <div class="mySlides fade">
                              <img src="img3.jpg" style="width:100%">
                            </div>
                          
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                          </div>
                          <br>
                          
                          <div style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span> 
                            <span class="dot" onclick="currentSlide(2)"></span> 
                            <span class="dot" onclick="currentSlide(3)"></span> 
                          </div>
                          
                          <div class="ellipse" /> 
                        </div>
                      </div>
          
                      <div class="overlap-wrapper">
                        <div class="overlap-group-2">
                          <!-- Replace 'image.png' with actual path -->
                          <img class="img" alt="Next" src="static/clothing_images/d8353f1f-b1b3-4354-a5c8-9a454a0526e0.jpeg" />
                          <div class="ellipse" />
                        </div>
                      </div>
          
                      <div class="group">
                        <div class="group-2">
                          <!-- Replace these SVG paths with actual image paths -->
                        <p>Our Mission:</p>
                        </div>
                        <div class="overlap-2">
                          <p class="lorem-ipsum-dolor"> Our Mission: </p>
                          <div class="group-3">
                            <div class="overlap-group-wrapper">
                              <div class="overlap-3">
                                <!-- Replace 'line-2.svg' with actual path -->
                                <img class="line" alt="Line" src="line-2.svg" />
                                <div class="group-4">
                                  <div class="overlap-group-3">
                                   <p>shirt</p>
                                  </div>
                                  <div class="image-wrapper">
                                    <!-- Replace 'image-2.png' with actual path -->
                                    <img class="image" alt="Image" src="static/clothing_images/50a5ca73-cfbe-43ad-8ef3-580df433851a.jpeg" />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Replace 'image-529.png' with actual path -->
                            <img class="image-2" alt="Image" src="static/clothing_images/d8353f1f-b1b3-4354-a5c8-9a454a0526e0.jpeg" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="div-framer-quk">
                    <p class="we-ve-curated-a-list">
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <div class="bigcontainer2">
              <p>Join The Community</p>
              <h4>Connect with Us</h4>
              <div class="container2">
                <div class="box2">Github</div>
                <div class="box2">LinkedIn</div>
              </div>
            </div>
          </div>
          
    </main>
    <script src="slideshow.js"></script>
</body>
</html>
