<!DOCTYPE html>
<html lang="en">
<body>
    {% include 'header.html' %}
    <div class ="content">
    <main>
        <center>
            {% if user_id %}
            <a href="#sec"></a>
            <h3 class="text">user_id</h3>
            <p>
                {{user_id}}
            </p>
            {% endif %}
        </center>
        <center>
            <form action = "/logout" method = "POST" id="settings">
                <a href="logout" class="action-button center-container">Logout</a>
            </form>      
        </center>
    </main>
   </div>
   {% include 'footer.html' %}
</body>
</html>
