<!doctype html>
<html>
    <head>
        <title>Poshify</title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        <script src="app.py"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <nav>
              <ul>
                <div class="logo"><a href="home">Poshify</a></div>
                <li><a class="login" href="login">Login</a></li>
                <li><a class="signup" href="create_user">Sign Up</a></li>
              </ul>
            </nav>
        </header>
        <div class ="sec" id="sec">
            <h1>User Created!</h1>
            <h2><a href="home.html">Home</a></h2>
            </form>
        </div>
    </body>
</html>
